extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/original.png', width='160',align='right')
		h1 Welcome to my world 
		p This is Rosemary <a href='http://keystonejs.com' target='_blank'>@Vancouver</a> website.You can find what you want to buy from this website
			| <a href='http://getbootstrap.com/' target='_blank'>Clothes</a>
			| and <a href='http://www.jquery.com/' target='_blank'>Food</a>.
		//p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to do the shopping.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>rosemary.g@partner.samsung.com</strong> and the password <strong>123456</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		
		
		img(src='images/pegwin.jpg' alt='Mountain View' width='180', height='150')
		hr
		p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
